<!-- <div class="app__container">
  <div class="navbar__container">
    <div class="navbar">
      <div class="navbar__navigations">
        <a
          class="navbar__navigations__button"
          [routerLink]="['/guides']"
          routerLinkActive="navbar__navigations__button__active"
          >מדריכים</a
        >
        <div class="navbar__navigations__button">ניסיון 1</div>
        <div class="navbar__navigations__button">ניסיון 2</div>
        <div class="navbar__navigations__button">ניסיון 3</div>
        <div class="navbar__navigations__button">ניסיון 4</div>
        <div class="navbar__navigations__button">ניסיון 5</div>
        <div class="navbar__navigations__button">ניסיון 6</div>
      </div>

      <div class="navbar__icon__container">
        <div class="divider"></div>
        <div class="photo__container">
          <img
            class="navbar__icon"
            data-handles
            src="assets/mador_tochna_logo_handles.png"
            draggable="false"
          />
          <img
            class="navbar__icon"
            data-title
            src="assets/mador_tochna_logo_title.png"
            draggable="false"
          />
          <img
            class="navbar__icon"
            data-helm
            src="assets/mador_tochna_logo_helm.png"
            draggable="false"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <div class="splash__screen"> -->
<app-splash-screen></app-splash-screen>
<!-- </div> -->
