@mixin light-theme {
  :root {
    --tochna-gradient: linear-gradient(12deg, #1d5553 25%, #07b3a8 100%);

    --scrollbar-track-color: rgba(0, 50, 0, 0.1);
    --scrollbar-gradient: linear-gradient(180deg, #6fcf97, #27ae60);
    --scrollbar-hover-gradient: linear-gradient(180deg, #66d191, #219653);

    --data-card-background: rgba(0, 0, 255, 0.514);
    --data-card-text-color: white;

    --page-title-gradient: linear-gradient(12deg, #1e4948 15%, #00ffee 100%);

    --navbar-border-color: #09aaa2;
    --navbar-border-shadow-color: #09c2b9b7;
    --navbar-text-color: black;
    --navbar-text-hover-color: white;
    --navbar-selected-text-gradient: var(--tochna-gradient);
    --navbar-hover-gradient: var(--tochna-gradient);
  }
}
